videoView{
	float:right;
	margin-top:100px;
	margin-right: 100px;
}

history{
	float:left;
	margin-top:100px;
	margin-left: 30px;
}

.button{
	background-color: red;
	color: white;
	font-weight: bold;
	font-size: 20px;
	padding: 10px 40px;
	border-radius: 3px;
	display: block;
	margin: auto;
}

#question{
	color: red;
	font-size: 25px;
	font-family: Comic Sans MS;
	font-weight: bold;
	margin-top: 100px;
}