#title{
	color: red;
	font-size: 25px;
	font-family: Comic Sans MS;
	font-weight: bold;
}

em{
	font-size: 18px;
	font-family: Comic Sans MS;
	font-style: italic;
}

#list{
	font-size: 18px;
	font-family: Comic Sans MS;
}